body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding-bottom: 50px
}

.tool-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tool-button {
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.tool-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #333;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px;
    border-radius: 2px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    margin-left: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
}

.nav-list li a:hover {
    background-color: #555;
}

/* Calculator Styles */
.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f4f4f4;
}

button.zero {
    grid-column: span 2;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: start;
        padding-top: 20px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .nav-list li {
        display: block;
        margin: 0;
    }

    .nav-list.active {
        display: flex;
    }
}

/* Mobile Responsive Adjustments */

@media (max-width: 768px) {
    .container, .nav-list, .proportion-calculator, .calculator, header {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Text to PDF Styles */

.text-to-pdf {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    margin-top: 10px;
}

/* Proportion Calculator Styles */

.proportion-calculator button {
    background-color: #007BFF;  /* Blue background color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;  /* Margin below the button */
}

.proportion-calculator button:hover {
    background-color: #0056b3;  /* Darker blue on hover */
}

.proportion-grid > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.result-container {
    margin-top: 20px;  /* Margin above the result field */
}

/* How many Days Page Styles */

.days-calculator button {
    background-color: #007BFF; /* Blue background color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px; /* Margin below the button for spacing */
}

.days-calculator button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

@media (max-width: 768px) {
    .nav-list, .days-calculator, header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .result-container label, 
    .result-container input {
        display: block;  /* Force each label and input to take up the full width and move to a new line */
        margin-bottom: 10px;  /* Add spacing between each item */
    }

    #endDate {
        margin-top: 10px;
    }
}

/* Product Cost Estimator Styles */
@media (max-width: 768px) {
    .nav-list, .estimator, header {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.estimator label, 
.estimator input {
    margin-bottom: 10px;  /* Add spacing below each item */
}

/* Amazon Calculator styles */

.amazon-calculator label,
.amazon-calculator input {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .nav-list,
    .amazon-calculator,
    header {
        padding-left: 15px;
        padding-right: 15px;
    }
}